.bgim3 {
  background-image: url(https://static.dezeen.com/uploads/2017/02/nara-dreamland-romain-veillon-architecture-theme-park-photography_dezeen_1704_col_3-852x569.jpg);
  min-height: 100%;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body {
    color: aqua;
    background-color: #7C5353;
    overflow: visible;
    clip: rect(23409,auto,auto,324);
}

* {
	cursor: url("Small cursor.png"), default;
}
.rides {
	cursor: url("Ripped.png"), pointer;
}

.pic img {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.pic:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}